<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <link rel="stylesheet" type="text/css" href="/css/core.css">
</head>
<body>
    <div id="header" th:fragment="header">
      <p id="systemName">Информационная система Холоп </p>
      <p id = "usernamePosition" sec:authorize="isAuthenticated()" th:text="${currentUser.firstName} + ' ' + ${currentUser.lastName}" />
        <a href="/logout" id = "userIconPosition">
            <img src="/images/user_icon.png", style="width: 30px; float: left";>
        </a>
    </div>
</body>
</html>