<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="/js/tasks.js"></script>
    <script>

    </script>
</head>
<body>
<div id="singleTaskContainer" th:fragment="singleTask(task)">
    <!--/*@thymesVar id="task" type="com.example.holopportal.tasks.entities.Task"*/-->
    <h2 th:text="'Задание' + ${task.taskCode} + ' - ' + ${task.taskName}"></h2>
    <h3>Тип задания:</h3>
    <p th:text="${task.taskType.description}"></p>
    <h3>Описание:</h3>
    <p th:text="${task.description}"></p>
    <h3>Задействованный персонал</h3>
    <th:block th:each="status : ${task.executionStatuses}">
        <!--/*@thymesVar id="status" type="com.example.holopportal.tasks.entities.WorkerTaskExecutionStatus"*/-->
        <a th:text="${status.worker.lastName} + ' ' + ${status.worker.lastName} + ' (' + ${status.taskExecutionStatus.description} + ')'"></a><br/>
    </th:block>

    <div sec:authorize="hasAuthority('DIRECTOR')">
        <button type="button" th:onclick="|setTaskStatus('${task.id}', 1)|">Отправить задачу</button>
        <button type="button" th:onclick="|setTaskStatus('${task.id}', 5)|">Отменить задачу</button>
    </div>
    <div sec:authorize="hasAuthority('WORKER')">
        <button type="button" th:onclick="|setTaskStatus('${task.id}', 2)|">Начать выполнение задания</button>
        <button type="button" th:onclick="|setTaskStatus('${task.id}', 3)|">Завершить задание успешно</button>
        <button type="button" th:onclick="|setTaskStatus('${task.id}', 4)|">Завершить задание неуспешно</button>
    </div>

</div>
</body>
</html>