#header {
    display: flex;
    justify-content: space-between;
    background-color: #FFE0B2;
    height: 65px;
    align-items: center;
}

#menu_container {
    flex: 0 0 250px;
    background-color: #FFE8C5;
    display: flex;
    flex-direction: column;
    height: 1000px;
}

#main_div {
    display: flex;
    height: 100vh;
    flex-grow: 1
}

#content_container {
    flex-grow: 1;
}

/* single task component styles */
#singleTaskContainer {
    border: 2px double black;
    border-radius: 10px;
    margin: 70px;
    padding: 5px;
}
.newTaskContainer{
    border: 2px double black;
    background: #ffffff;
    padding: 10px;
    margin: 50px;
    border-radius: 10px;
}

.button {
    background: #FFE8C5;
    border: none;
    text-decoration: none;
    padding: 20px 20px 15px 30px;
    text-align: -webkit-center;
    color: black;
    font-size: 16px;
}

a.button:hover{
    background: #ffd18f;
}

.widthMenu{
    width: 99%;
    border-radius: 10px;
    margin: 5px 0px;
}

#TaskDescription{
    border: 2px double black;
    background: #ffffff;
    padding: 10px;
    margin: 15px;
    border-radius: 10px;
    height: 100px;
}

.RejectButton{
    background: #FFE8C5;
    border: none;
    font-weight: bold;
    text-decoration: none;
    padding: 15px 20px 15px 20px;
    text-align: center;
    color: black;
    font-size: 16px;
    border-radius: 30px;
}
a.RejectButton:hover{
    background: #ffc993;
}

.AcceptButton{
    background: #cdffa5;
    margin: 30px 40px;
    border: none;
    font-weight: bold;
    text-decoration: none;
    padding: 15px 35px 15px 35px;
    text-align: center;
    color: black;
    font-size: 16px;
    border-radius: 30px;
}

a.AcceptButton:hover{
    background: #c1fa93;
}

#userIconPosition{
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}

#userIconPosition>img {
    width: 20px;
    float: left;
}

#usernamePosition{
    display: flex;
    align-items: center;
}

#systemName{
    margin: 30px;
}

.ApplyButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.newTaskSuccessfullyAddedNotification {
    background: yellowgreen;
    padding: 15px 0 15px 70px;
}

.textAreaStyle{
    width: 99%;
    border-radius: 15px;
    height: 150px;
    margin: 30px 0px;
}

.qualitiesNumbers{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.boxElements{
    margin: 0px 60px 15px;
    height: 20px;
    border-radius: 10px;
}

.qualitiesBox{
    margin: 0px 45px;
    text-align-last: center;
}

.qualitiesLabel{
    margin: 0;
}

.personalAndTypeText{
    margin: 20px 0px 5px 0px;
}

.codeAndNameTask{
    margin: 15px 50px 0px 10px;
    border-radius: 7px;
}

.predictImage{
    width: 60%;
    margin: 50px 200px;
}

.infoPredictionText{
    margin: 30px 170px;
    font-size: large;
}

.loginFrame{
    margin: 20px;
    border-radius: 20px;
}

.loginText{
    margin: 5px 0px;
}

.singInButton{
    background: #4db5e1;
    margin: 30px 120px;
    border: none;
    font-weight: bold;
    text-decoration: none;
    padding: 15px 35px 15px 35px;
    text-align: center;
    color: black;
    font-size: 16px;
    border-radius: 30px;
}

.errorInvalidUsernameOrPassword{
    color: red;
}

.singInButton:hover{
    background: #6ccef8;
}


/*
Screenplay page
*/

.connected-tasks {
    display: flex;
    flex-direction: column;
}

.holop-card {
    margin: 15px !important;
}

h4 {
    font-size: 2rem !important;
}

.mainSingInText{
    font-size: 3.6rem;
}

.screenplayContainer{
    background-color: #ffffff;
    width: auto;
    padding: 20px 30px;
    margin: -20px 40px;
    position: absolute;
    border-radius: 10px;
    border: 2px solid #dddddd;
}

.optionsTextEditor{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
}

.buttonTextEditor{
    height: 28px;
    width: 28px;
    display: grid;
    place-items: center;
    border-radius: 3px;
    border: none;
    background-color: white;
    outline: none;
    color: #020929;
}

#text-input{
    padding: 20px;
    margin-top: 10px;
    border: 1px solid #dddddd;
    padding: 20px;
    height: 50vh;
}

.selectTextEditorOption{
    padding: 7px;
    border: 1px solid #020929;
    border-radius:  3px;
}

.input-wrapper{
    display: flex;
    align-items: center;
    gap: 8px;
}

input[type="color"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 40px;
    height: 28px;
    border: none;
    cursor: pointer;
}

input[type="color"]::-webkit-color-swatch{
    border-radius: 15px;
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 3px #020929;
}

input[type="color"]::-moz-color-swatch{
    border-radius: 15px;
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 3px #020929;
}

.bodyForRegPage {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-fill-mode: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    background: white;
    padding: 20px 25px;
    border: 5px solid #26a69a;
    width: 550px;
    height: auto;
    box-sizing: border-box;
    position: relative;
}
.col.s6 > .btn {
    width: 100%;
}
.gender-male,.gender-female {
    display: inline-block;
}
.gender-female {
    margin-left: 35px;
}
radio:required {
    border-color: red;
}
.container {
    animation: showUp 0.5s cubic-bezier(0.18, 1.3, 1, 1) forwards;
}

@keyframes showUp {
    0% {
        transform: scale(0);
    }
    100% {
        transoform: scale(1);
    }
}
.row {margin-bottom: 10px;}

.ngl {
    position: absolute;
    top: -20px;
    right: -20px;
}
footer {;
  margin-top: -77px; /* Поднимаем вверх */
  overflow: auto; /* Отменяем схлопывающиеся отступы */
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
}


.footer-bg {
  background: #ffd18f; /* Цвет фона подвала */
  margin-top: 80px; /* Сдвигаем вниз */
}
.copyright {
  width: 740px; /* Ширина макета без полей */
  padding: 0 10px 10px; /* Поля */
  margin: auto; /* Выравнивание по центру */
  color: #000000; /* Цвет текста */
}
.copyright p {
  margin: 0 0 5px 170px; /* Отступы текста */
}