#header {
    display: flex;
    background-color: #ffe2a9;
    height: 50px;
    align-items: center;
}

#menu_container {
    flex: 0 0 250px;
    background-color: #ffcc99;
    display: flex;
    flex-direction: column;
    height: 1000px;
}

#main_div {
    display: flex;
    height: 100vh;
}

/* single task component styles */
#singleTaskContainer {
    border: 2px double black;
    border-radius: 0em;
    margin: 70px;
    padding: 5px;
}
#NewTaskContainer{
    border: 2px double black;
    background: #ffffff;
    padding: 10px;
    margin: 70px;
    border-radius: 10px;
}

.button {
    background: #ffcc99;
    border: none;
    font-weight: bold;
    text-decoration: none;
    padding: 20px 20px 15px 30px;
    text-align: -webkit-center;
    color: black;
    font-size: 16px;
}

a.button:hover{
    background: #fdc58d;
}

.widthMenu{
    width: 100%;
}

#TaskDescription{
    border: 2px double black;
    background: #ffffff;
    padding: 10px;
    margin: 15px;
    border-radius: 10px;
    height: 100px;
}

#AceptButton{
    background: #cdffa5;
    border: none;
    font-weight: bold;
    text-decoration: none;
    padding: 20px 20px 15px 30px;
    text-align: -webkit-center;
    color: black;
    font-size: 16px;
}

#RejectButton{
    background: #ffcc99;
    border: none;
    font-weight: bold;
    text-decoration: none;
    padding: 20px 20px 15px 30px;
    text-align: -webkit-center;
    color: black;
    font-size: 16px;
}
