#header {
    display: flex;
    background: bisque;
    height: 50px;
    align-items: center;
}

#menu_container {
    width: 300px;
    background: antiquewhite;
    display: flex;
    flex-direction: column;
}

#main_div {
    display: flex;
    height: 100vh;
}