#header {
    display: flex;
    justify-content: space-around;
    background-color: #ffe2a9;
    height: 50px;
    align-items: center;
}

#menu_container {
    flex: 0 0 250px;
    background-color: #ffcc99;
    display: flex;
    flex-direction: column;
    height: 1000px;
}

#main_div {
    display: flex;
    height: 100vh;
    flex-grow: 1
}

#content_container {
    flex-grow: 1;
}

/* single task component styles */
#singleTaskContainer {
    border: 2px double black;
    border-radius: 10px;
    margin: 70px;
    padding: 5px;
}
.newTaskContainer{
    border: 2px double black;
    background: #ffffff;
    padding: 10px;
    margin: 50px;
    border-radius: 10px;
}

.button {
    background: #ffcc99;
    border: none;
    text-decoration: none;
    padding: 20px 20px 15px 30px;
    text-align: -webkit-center;
    color: black;
    font-size: 16px;
}

a.button:hover{
    background: #fdc58d;
}

.widthMenu{
    width: 99%;
    border-radius: 10px;
    margin: 5px 0px;
}

#TaskDescription{
    border: 2px double black;
    background: #ffffff;
    padding: 10px;
    margin: 15px;
    border-radius: 10px;
    height: 100px;
}

.RejectButton{
    background: #ffcc99;
    border: none;
    font-weight: bold;
    text-decoration: none;
    padding: 15px 20px 15px 20px;
    text-align: center;
    color: black;
    font-size: 16px;
    border-radius: 30px;
}
a.RejectButton:hover{
    background: #ffc993;
}

.AceptButton{
    background: #cdffa5;
    margin: 30px 40px;
    border: none;
    font-weight: bold;
    text-decoration: none;
    padding: 15px 35px 15px 35px;
    text-align: center;
    color: black;
    font-size: 16px;
    border-radius: 30px;
}

a.AceptButton:hover{
    background: #c1fa93;
}

#userIconPosition{
    width: 30px;
    float: left;
    margin: 40px;
}

#usernamePosition{
    flex: auto;
    margin: 310px;
}

#systemName{
    margin: 30px;
}

.ApplyButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.newTaskSuccessfullyAddedNotification {
    background: yellowgreen;
    padding: 15px 0 15px 70px;
}

.textAreaStyle{
    width: 99%;
    border-radius: 15px;
    height: 150px;
    margin: 30px 0px;
}

.qualitiesNumbers{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.boxElements{
    margin: 0px 60px 15px;
    height: 20px;
    border-radius: 10px;
}

.qualitiesBox{
    margin: 0px 45px;
    text-align-last: center;
}

.qualitiesLabel{
    margin: 0;
}

.personalAndTypeText{
    margin: 20px 0px 5px 0px;
}

.codeAndNameTask{
    margin: 15px 50px 0px 10px;
    border-radius: 7px;
}

.predictImage{
    width: 60%;
    margin: 50px 200px;
}

.infoPredictionText{
    margin: 30px 170px;
    font-size: large;
}

.loginFrame{
    margin: 20px;
    border-radius: 20px;
}

.loginText{
    margin: 5px 0px;
}

.singInButton{
    background: #4db5e1;
    margin: 30px 120px;
    border: none;
    font-weight: bold;
    text-decoration: none;
    padding: 15px 35px 15px 35px;
    text-align: center;
    color: black;
    font-size: 16px;
    border-radius: 30px;
}

.errorInvalidUsernameOrPassword{
    color: red;
}

.singInButton:hover{
    background: #6ccef8;
}


/*
Screenplay page
*/

.connected-tasks {
    display: flex;
    flex-direction: column;
}

.holop-card {
    margin: 15px !important;
}

h4 {
    font-size: 2rem !important;
}

.mainSingInText{
    font-size: 3.6rem;
}

.screenplayContainer{
    background-color: #ffffff;
    width: auto;
    padding: 20px 30px;
    margin: -20px 40px;
    position: absolute;
    border-radius: 10px;
    border: 2px solid #dddddd;
}

.optionsTextEditor{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
}

.buttonTextEditor{
    height: 28px;
    width: 28px;
    display: grid;
    place-items: center;
    border-radius: 3px;
    border: none;
    background-color: white;
    outline: none;
    color: #020929;
}

#text-input{
    padding: 20px;
    margin-top: 10px;
    border: 1px solid #dddddd;
    padding: 20px;
    height: 50vh;
}

.selectTextEditorOption{
    padding: 7px;
    border: 1px solid #020929;
    border-radius:  3px;
}

.input-wrapper{
    display: flex;
    align-items: center;
    gap: 8px;
}

input[type="color"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 40px;
    height: 28px;
    border: none;
    cursor: pointer;
}

input[type="color"]::-webkit-color-swatch{
    border-radius: 15px;
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 3px #020929;
}

input[type="color"]::-moz-color-swatch{
    border-radius: 15px;
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 3px #020929;
}

.active{
    background-color: #e0e9ff;
}