<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: common_head">
    <title>Error</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/core.css">
    <script type="text/javascript" src="/js/greeting.js"></script>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>

<div id="main_div">
    <div th:replace="fragments/mainMenu :: menu"> </div>
    <div>
        <h1>Нет доступа</h1>
    </div>
</div>
<!--<div th:replace="fragments/flooter :: flooter"></div>-->
</body>
</html>