<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Новая задача</title>
  <link rel="stylesheet" type="text/css" href="/css/core.css">
  <script type="text/javascript" src="/js/greeting.js"></script>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>

<div id="main_div">
  <div th:replace="fragments/mainMenu :: menu">&nbsp;</div>
  <div style="flex-grow: 1">
    <div id="NewTaskContainer">
      <p>Новая задача</p>
      <!--/*@thymesVar id="newTaskForm" type="com.example.holopportal.tasks.views.NewTaskForm"*/-->
      <form th:object="${newTaskForm}" th:action="@{/api/tasks}" method="post">
        <select th:field="*{workers}" multiple class="widthMenu">
          <th:block th:each="worker : ${all_workers}">
            <!--/*@thymesVar id="worker" type="com.example.holopportal.user.entities.User"*/-->
            <option th:value="${{worker}}" th:text="${worker.firstName} + ' ' +  ${worker.lastName}"></option>
          </th:block>
        </select>
        <select th:field="*{taskType}" class="widthMenu">
          <th:block th:each="type : ${taskTypes}">
            <!--/*@thymesVar id="type" type="com.example.holopportal.tasks.entities.TaskType"*/-->
            <option th:value="${{type}}" th:text="${type.description}"></option>
          </th:block>
        </select>
        <div>
          <input th:field="*{name}" type="text">Имя</input>
          <input th:field="*{code}" type="text">Код задачи</input>
        </div>
        <div id="TaskDescription">
          <input th:field="*{description}" type="text">
        </div>
        <div>
          <div class="box">
            <input type="number" min="-10" max="10">
            <input type="number" min="-10" max="10">
            <input type="number" min="-10" max="10">
          </div>
        </div>
        <div class="ApplyButtonContainer">
          <input class="RejectButton">Отмена</input>
          <input type="submit" class="AceptButton">Ок</input>
        </div>

      </form>

    </div>
  </div>

</div>
</body>
</html>