<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Новая задача</title>
  <link rel="stylesheet" type="text/css" href="/css/core.css">
  <script type="text/javascript" src="/js/greeting.js"></script>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>

<div id="main_div">
  <div th:replace="fragments/mainMenu :: menu">&nbsp;</div>
  <div style="flex-grow: 1">
    <div id="NewTaskContainer">
      <p>Новая задача</p>
      <form>
        <select multiple class="widthMenu">
          <th:block th:each="worker : ${workers}">
            <!--/*@thymesVar id="lastName" type="com.example.holopportal.user.entities.User"*/-->
            <option th:value="${worker.id}" th:text="${worker.firstName} + ' ' +  ${worker.lastName}"></option>
          </th:block>
        </select>
        <select class="widthMenu">
          <th:block th:each="type : ${taskTypes}">
            <!--/*@thymesVar id="lastName" type="com.example.holopportal.user.entities.User"*/-->
            <option th:value="${type.id}" th:text="${type.description}"></option>
          </th:block>
        </select>
      </form>
      <br></br>
      <div>
        <input type="text">Имя</input>
        <input type="text">Код задачи</input>
      </div>
      <div id="TaskDescription">
        <input type="text">
        </input>
      </div>
      <div>
        <div class="box">
          <input type="number" min="-10" max="10">
          <input type="number" min="-10" max="10">
          <input type="number" min="-10" max="10">
        </div>
      </div>
      <div class="ApplyButtonContainer">
      <a class="RejectButton">
        Отмена
      </a>
      <a class="AceptButton">
        Ок
      </a>
      </div>
    </div>
  </div>

</div>
</body>
</html>