<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Holop Portal. Tasks</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/core.css">
    <script type="text/javascript" src="/js/greeting.js"></script>

</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>

<div id="main_div">
    <div th:replace="fragments/mainMenu :: menu">&nbsp;</div>
    <div>
        <th:block th:each="task : ${tasks}">
            <div th:replace="fragments/singleTask :: singleTask (task=${task})"></div>
        </th:block>

    </div>

</div>

</body>
</html>